{% extends 'blog/blog_base.html' %}


{% block content %}
<!----------- Content ----------->
	
<div class="anor_fn_blog_single">
    <div class="container small">
        <div class="blog_single">
            
            <!-- Blog Image -->
            <div class="img_holder">
                <img src="img/blog/single.jpg" alt="">
            </div>
            <!-- !Blog Image -->
            
            
            <!-- Blog Container -->
            <div class="blog_container">
                
                
                <!-- Blog Title -->
                <div class="title_holder">
                    <h3 class="fn_title">How to Fund MetaMask with ETH?</h3>
                    <p class="fn_desc">How To / March 28, 2022 / By Admin</p>
                </div>
                <!-- !Blog Title -->
                
                
                <!-- Blog Content -->
                <div class="blog_content">
                    <p>Now that your wallet is set up, you’ll need some ETH.</p>
                    <p>Ether is the native currency of the Ethereum network and it’s commonly abbreviated to ETH, which is its most common signifier. You need ETH to pay for some of your interactions with the blockchain, and to pay for the items you buy.</p>
                    <p>Here are two ways to easily fund your account: </p>
                    <h4>1) Buy Directly within MetaMask</h4>
                    <p>Depending on your region, you may be able to buy ETH directly with a credit or debit card via a third party provider. Please note, buying crypto with a credit card may incur additional fees, depending on which third-party provider you use. You may also not receive the entire crypto amount immediately.</p>
                    <ol>
                        <li><p>Open the MetaMask wallet extension or the mobile app.</p></li>
                        <li><p>Press <b>Buy ETH</b>.</p></li>
                        <li><p>Select a third-party service such as Wyre, Transak or MoonPay, which will facilitate the transfer of funds from your chosen funding source.</p></li>
                        <li><p>Follow the steps provided by the third-party service. You may need to submit personal information like an ID card or proof of residence to meet KYC (Know Your Customer) requirements.</p></li>
                        <li><p>Once you’re finished purchasing, the funds should appear in your wallet.</p></li>
                    </ol>
                    <h4>2) Funding From a Crypto Exchange</h4>
                    <p>It’s also easy to fund your wallet by depositing from a reputable crypto exchange, like <a href="#">FTX</a>, <a href="#">Coinbase</a> or <a href="#">Binance</a>, which offers a way to buy crypto with your bank account.</p>
                    <p><b>Handy tip:</b> You can use the FTX app to buy ETH and withdraw it to your MetaMask with no withdrawal fees.</p>
                    <p>It may take some time for the ETH to appear in your wallet. After processing your withdrawal, your crypto exchange should provide a number called a Transaction Hash or Transaction ID. This is a unique number for each transaction on the blockchain. You can use this unique number to check the progress of your withdrawal on third-party tools like Etherscan. For more information on how to use Etherscan to view transaction information, <a href="#">click here</a>.</p>
                </div>
                <!-- !Blog Content -->
                
                <!-- Author Information Box -->
                <div class="anor_fn_author_info">
                    <div class="info_img">
                        <img src="img/blog/author.jpg" alt="">
                    </div>
                    <div class="info_desc">
                        <h3 class="fn_title">Josephine Sanchez</h3>
                        <p class="fn_desc">Josephine is a writer, editor, etc.-er who muses about life, design and travel for friendship, food, fun and more.</p>
                        <ul class="social">
                            <li><a href="#"><i class="fn-icon-twitter"></i></a></li>
                            <li><a href="#"><i class="fn-icon-facebook"></i></a></li>
                            <li><a href="#"><i class="fn-icon-instagram"></i></a></li>
                            <li><a href="#"><i class="fn-icon-pinterest"></i></a></li>
                            <li><a href="#"><i class="fn-icon-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- !Author Information Box -->
                
                <!-- Tags -->
                <div class="anor_fn_tags">
                    <b>Tags:</b> <span><a href="#">Tokens</a>, <a href="#">NFT</a>, <a href="#">Featured</a>, <a href="#">Insights</a></span>
                </div>
                <!-- !Tags -->
                
                
                
                
            </div>
            <!-- !Blog Container -->
            
            <!-- Previous &  Next Box -->
            <div class="anor_fn_prevnext">
                <div class="prev">
                    <a href="#" class="full_link"></a>
                    <p>Previous Post</p>
                    <h3>How to Find an NFT You Love</h3>
                </div>
                <div class="next">
                    <a href="#" class="full_link"></a>
                    <p>Next Post</p>
                    <h3>How to Easily Setup a MetaMask Wallet</h3>
                </div>
            </div>
            <!-- Previous &  Next Box -->
            
        </div>
    </div>
</div>

<!----------- !Content ----------->
{% endblock %}