{% extends 'blog/blog_base.html' %}

{% block title %}All about Windows Basic infor{% endblock %}


{% block blog_content %}
<p>Windows is an <strong>operating system</strong> designed by Microsoft. The operating system is what allows you to use a computer. Windows comes <strong>preloaded</strong> on most new personal computers (PCs), which helps to make it the most popular operating system in the world.</p>
<p>Windows makes it possible to complete all types of <strong>everyday tasks</strong> on your computer. For example, you can use Windows to browse the Internet, check your email, edit digital photos, listen to music, play games, and do much more. <br></p>
<div><img loading="lazy" src="https://media.gcflearnfree.org/content/55e0918024929be0279509ff_08_28_2014/allaboutwindows_desktop.jpg" alt="Windows 10 desktop interface" title="Windows 10 desktop interface"></div>
<p>Windows is also used in many offices because it gives you access to <strong>productivity tools</strong> such as calendars, word processors, and spreadsheets. <br></p>
<div><img loading="lazy" src="https://media.gcflearnfree.org/content/55e0918024929be0279509ff_08_28_2014/allaboutwindows_planner.jpg" alt="Microsoft Word" title="Microsoft Word"></div>
<p>Microsoft released the first version of Windows in the mid-1980s. There have been many versions of Windows since then, but the most recent ones include <strong>Windows 10</strong> (released in 2015), <strong>Windows 8 </strong>(2012), <strong>Windows 7</strong> (2009), <strong>Windows Vista </strong>(2007), and <strong>Windows XP </strong>(2001).</p>
<h4>About this tutorial</h4>
<p>This tutorial is designed to show you the <strong>absolute basics of using a Windows computer</strong>, including how to use the desktop, how to open different files and applications, and how to move and resize windows. The information in this tutorial will apply to more recent versions of Windows, including the ones mentioned above. However, once you&apos;ve learned the basics, you may also want to review one of our <strong>version-specific</strong> <strong>Windows tutorials</strong>. Just select the version of Windows that&apos;s installed on your computer:</p>
<ul><li><a href="http://www.gcflearnfree.org/windows10" target="_self">Windows 10</a></li><li><a href="http://www.gcflearnfree.org/windows8" target="_self">Windows 8</a></li><li><a href="http://www.gcflearnfree.org/windows7" target="_self">Windows 7</a></li><li><a href="http://www.gcflearnfree.org/windowsxp" target="_self">Windows XP</a></li></ul>
{% endblock %}