{% extends "base.html" %}


{% block content %}
<!----------- Content ----------->
	
<div class="anor_fn_selling_page">
	
    <!-- Selling Description -->
    <div class="desc_holder">
        <div class="container small">
            <div class="desc_in">
                <img src="img/logo2.png" alt="">
                <h3 class="fn_title">About Our Team Member</h3>
                <p class="fn_desc">A strong team is the foundation of a high-performing business and a good team ethic can be held largely accountable for the success and smooth running of the organization</p>
            </div>
        </div>
    </div>
    <!-- !Selling Description -->
    
    
    <!-- Selling List -->
    <div class="anor_fn_icon_list">
        <div class="container small">
            <div class="list_in">
                <ul>
                    <li>
                        <div class="item">
                            <img src="{{ static('img/feiyu.png') }}" alt="">
                            <h3 class="fn_title">Zhu Yongyu</h3>
                            <p class="fn_desc">Team Leader, responsible for the development of collector and parser</p>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <img src="{{ static('img/susi.png') }}" alt="">
                            <h3 class="fn_title">Wu Ruilin</h3>
                            <p class="fn_desc">Lead Developer</p>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <img src="{{ static('img/guodong.png') }}" alt="">
                            <h3 class="fn_title">Tong Xiaolan</h3>
                            <p class="fn_desc">Lead Developer</p>
                        </div>
                    </li>
                    <li>
                    </li>
                    <li>
                        <div class="item">
                            <img src="{{ static('img/cake.png') }}" alt="">
                            <h3 class="fn_title">Zhang Yuxuan</h3>
                            <p class="fn_desc">Lead Developer</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- !Selling List -->
    
    
</div>


<!----------- !Content ----------->
{% endblock %}