<div class="anor_fn_filters">

    <!-- Filter Header -->
    <div class="filter_header">
        <a class="full_link" href="#"></a>
        <span class="icon"></span>
        <span class="text">Filter</span>
    </div>
    <!-- !Filter Header -->

    <!-- Filter Content -->
    <div class="filter_content">

        <!-- Filter Item -->
        <div class="filter_item filter_collections">
            <div class="filter_item__header">
                <a class="full_link" href="#"></a>
                <span class="text">Devices</span>
                <span class="icon"><img src={{ static('svg/down.svg') }} alt="" class="fn__svg"></span>
            </div>
            <div class="filter_item__content">
                <div class="ic_in">

                    <ul class="items">
                        {% for device in device_list %}
                        <li>
                            <div class="item">
                                <label class="checkbox">{{ device['hostname'] }}
                                    {% if device['isActive'] %}<span class="verified_icon tippy" data-tippy-content="Verified Collection"><img
                                            src={{ static('svg/checked.svg') }} alt="" class="fn__svg"></span>{% endif %}
                                    <input type="checkbox" {% if device['hostname'] in checked_hostnames %}checked{% endif %}>
                                    <span class="checkmark"><img src={{ static('svg/checked.svg') }} alt=""
                                            class="fn__svg"></span>
                                </label>
                            </div>
                        </li>
                        {% endfor %}

                        
                    </ul>

                </div>
            </div>
        </div>
        <!-- !Filter Item -->

        <!-- Filter Item -->
        <div class="filter_item filter_event_type">
            <div class="filter_item__header">
                <a class="full_link" href="#"></a>
                <span class="text">Event Type</span>
                <span class="icon"><img src={{ static('svg/down.svg') }} alt="" class="fn__svg"></span>
            </div>
            <div class="filter_item__content">
                <div class="ic_in">

                    <ul class="items">
                        {% for event in type_of_artifacts %}
                        <li class="half">
                            <div class="item">
                                <label class="checkbox"> {{ event.__name__ }}
                                    <input type="checkbox"  {% if checked_type == event.__name__ %}checked{% endif %}>
                                    <span class="checkmark"><img src={{ static('svg/checked.svg') }} alt=""
                                            class="fn__svg"></span>
                                </label>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
        <!-- !Filter Item -->

    </div>
    <!-- !Filter Content -->

</div>